<div class="main">
  <div class="post-details">
    <h3>
      Post #<%= @index %>
      by <%= link_to @user.name, "/users" %>
    </h3>

    <div class="counter-wrapper">
      <p>Comments: <%= @post.comments.count %>,&nbsp;</p>
      <p>Likes: <%= @post.likes.count %></p>
    </div>

    <section>
      <h3><%= @post.title %></h3>
      <br>
      <p><%= @post.text %></p>
    </section>
  </div>
  
  <div class="add-like">
    <%= render partial: 'likes/like', locals: {post: @post} %>
  </div>

  <div class="add-comment">
    <%= link_to "Add a New Comment...", new_post_comment_path(@post) %>
  </div>

  <div class = "all-comments">
    <% @post.comments.each do |comment| %>
      <div class="delete">
        <p><%= comment.user.name %>:
        <%= comment.text %></p>
        <% if can? :destroy, comment %>
          <%= button_to 'Delete Comment', post_comment_path(@post, comment), method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>